.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background: #181826;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  /* font-size: 24px; */
  line-height: 28px;
  color: #ffffff;
  padding-left: 1em;
}

.title {
  font-family: Spectral;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 46px;
  align-self: flex-start;
  margin: 0em;
}

.sub-title {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  align-self: flex-start;
}

.question-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.button-identity {
  border-radius: 50%;
  border: solid 1px black;
  width: 3em;
  height: 3em;
  text-align: center;
  /* font-size: 0.6em; */
  background: red;
  color: #181827;
}

.unclicked {
  background: #ffffff;
}

.sub-button {
  background: #dfbc60;
  border: 1px solid #181827;
  box-sizing: border-box;
  border-radius: 20px;
  color: #181827;
  /* width: 374px; */
  width: 25em;
  height: 44px;
  align-self: flex-start;
}

/* .clicked{
  
} */

.button-identity:hover,
.sub-button:hover {
  cursor: pointer;
  /* background: lightcyan; */
}

.user-input {
  /* align-self: center; */
  /* justify-self: center; */
  width: 80%;
  background: #c4c4c4;
  border-radius: 3px;
}
/* 
.speaker-avatar {
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.speech-bubble {
  border: 1px solid black;
  border-radius: 10%;
  height: 2em;
  width: 9em;
}

img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
} */

/* .container {
  display: flex;
  justify-content: center;
  align-content: center;
} */
