/* .messageBar {
  border: 1px solid black;
} */

.conversation-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  padding: 1rem;
  border-bottom-width: 1px;
  border-color: #d8d9da;
  text-align: center;
}

.conversation-list-item:hover {
  background: #eeeef1;
  cursor: pointer;
}

.conversation-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.conversation-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

.conversation-snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
}
