@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.container-login {
  height: 100vh;
  background: url('https://images.pexels.com/photos/1146134/pexels-photo-1146134.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-repeat: no-repeat;
  /* transform: scaleX(-1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background: #181826; */
  color: #ffffff;
}

.title-log {
  font-family: Spectral;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 73px;
  margin: 0em;
}

.tag-line {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin: 1em 0 0em 0;
}

.help-text {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  /* line-height: 20px; */
  color: #ffffff;
  width: 280px;
  margin: 2.5em 0 2.5em 0;
}

.sign-in-button {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid #dfbc60;
  display: flex;
  align-items: center;
  text-align: center;
  color: #181827;
  background: #dfbc60;
  box-sizing: border-box;
  border-radius: 20px;
  width: 18em;
  height: 44px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.8em;
}

.user-login-holder {
  display: flex;
  flex-direction: column;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 24px; */
}

.user-login {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  /* margin: 0.5em; */
  padding: 0.5em;
}

.back-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: white;
}
