@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.background {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/2779948/pexels-photo-2779948.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.titleInfo {
  top: 10px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 28px;
  color: #dfbc60;
  align-self: center;
  padding-top: 50px;
  padding-bottom: 88px;
}
.incoming {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 70%;
  max-width: 664px;
  height: 8em;
  margin-bottom: 2em;
}
.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 0.15px solid #ffffff;
  box-sizing: border-box;
  border-radius: 75px;
  margin-right: 3em;
}
.messageBox {
  box-sizing: border-box;
  border-radius: 10px;
  height: 60%;
  width: 60%;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.messageTitle {
  position: relative;
  top: 15%;
  left: 5%;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #181827;
}
.text {
  position: relative;
  top: 10%;
  left: 3%;
  width: 90%;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #181827;
  margin: 5px;
}
.button {
  position: relative;
  bottom: 5%;
  width: 374px;
  height: 44px;
  background: #dfbc60;
  border: 1px solid #181827;
  box-sizing: border-box;
  border-radius: 20px;
}
.buttonText {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 18.18%;
  bottom: 18.18%;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #181827;
}
.footer {
  height: 2em;
}
