@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.body {
  background: #181826;
  justify-content: center;
}
.title {
  /* position: absolute; */
  text-align: center;
  /* width: 220px;
    height: 48px; */
  left: 97px;
  top: 121px;
  font-family: Spectral;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 73px;
  color: #ffffff;
}
.div {
  justify-content: center;
}
.h1 {
  /* position: absolute;  */
  text-align: center;
  justify-content: center;
  width: 356px;
  height: 41px;
  left: 29px;
  top: 355px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.h2 {
  /* position: absolute; */
  text-align: center;
  justify-content: center;
  width: 280px;
  height: 45px;
  left: 67px;
  top: 543px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.create {
  /* position: absolute;
left: 0%;
right: 0%; */
  top: 18.18%;
  bottom: 18.18%;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  transform: scale(2);
  margin-bottom: 50px;
  color: #3e3e4e;
}
.account {
  background-color: #dfbc60;
  border-radius: 20px;
  border: none;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.log {
  /* position: absolute;
    left: 0%;
    right: 0%; */
  top: 18.18%;
  bottom: 18.18%;

  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration-line: underline;
  transform: scale(2);
  color: #ffffff;
}

.sign {
}
