.navbar {
  position: absolute;
  width: 85%;
  background: #181827;
  height: 15%;
  top: 0px;
  z-index: 100;
}

.logo {
  transform: scale(2);
  padding-left: 20px;
}

.menu {
  right: 5%;
  transform: scale(2);
  padding: 0px;
}
