.navbar {
  position: relative;
  width: auto;
  background: #181827;
  height: 15%;
}

.logo {
  transform: scale(2);
  position: relative;
  left: 8%;
  padding-left: 20px;
  padding-top: 30px;
}

.menu {
  transform: scale(2);
  position: relative;
  right: 10%;
  padding-top: 30px;
}
